body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
}
.container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.03);
}

h1{
    display: flex;
    align-items: center;
}
h1 img{
    padding-right: 10px;
}
h5:hover{
    cursor: pointer;
    color: hsl(292, 16%, 49%);
}


@media screen and (max-width: 780px) {
    .container{
        width: 350px;
        margin-left: 20px;
        margin-right: 20px;
    }
    body{
        background-image: url("../assets/images/background-pattern-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
}